x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s
x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

networks:
  backend: {}
  public:
    external: true

services:
  auth-default:
    cap_drop:
      - "ALL"
    command:
      - --client-id=$OAUTH2_PROXY_CLIENT_ID
      - --client-secret=$OAUTH2_PROXY_CLIENT_SECRET
      - --cookie-domain=$DOMAIN_NAME
      - --cookie-expire=168h
      - --cookie-httponly=true
      - --cookie-name=oauth_default
      - --cookie-refresh=10m
      - --cookie-secret=$OAUTH2_PROXY_COOKIE_SECRET_DEFAULT
      - --cookie-secure=false
      - --set-xauthrequest=true
      - --pass-access-token=true
      - --pass-user-headers=true
      - --pass-authorization-header=true
      - --email-domain=*
      - --http-address=0.0.0.0:4180
      - --logging-filename=/dev/stdout
      - --oidc-issuer-url=https://auth.$DOMAIN_NAME/realms/netboot
      - --provider=keycloak-oidc
      - --request-logging=true
      - --reverse-proxy=true
      - --scope=openid profile email offline_access
      - --standard-logging=true
      - --whitelist-domain=*.$DOMAIN_NAME
      - --skip-provider-button=true
      - --upstream=static://202
      - --proxy-prefix=/oauth2/default
      - --session-store-type=redis
      - --redis-connection-url=redis://redis:6379/4
      - --footer=-
      - --insecure-oidc-allow-unverified-email=true
      - --show-debug-on-error=true
      - --custom-templates-dir=/templates
    deploy:
      !!merge <<: *common-deploy
      labels:
        # Autoheal 
        - "autoheal=true"
        # Traefik
        - "traefik.enable=true"
        - "traefik.http.middlewares.auth-default.forwardauth.address=http://auth-default:4180"
        - "traefik.http.middlewares.auth-default.forwardauth.authResponseHeaders=X-Forwarded-User"
        - "traefik.http.routers.auth-default.entrypoints=https"
        - "traefik.http.routers.auth-default.rule=HostRegexp(`^.+$$`) && PathPrefix(`/oauth2/default`)"
        - "traefik.http.services.auth-default.loadbalancer.server.port=4180"
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/oauth2-proxy:v7.13.0-alpine@sha256:ea02c644f942514e41e8bc78e384efb29cf8a73696c0df8f814ae1f0354f8c51
    networks:
      - public
      - backend
    read_only: true
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"

  auth-member:
    cap_drop:
      - "ALL"
    command:
      - --client-id=$OAUTH2_PROXY_CLIENT_ID
      - --client-secret=$OAUTH2_PROXY_CLIENT_SECRET
      - --cookie-domain=$DOMAIN_NAME
      - --cookie-expire=168h
      - --cookie-httponly=true
      - --cookie-name=oauth_member
      - --cookie-refresh=10m
      - --cookie-secret=$OAUTH2_PROXY_COOKIE_SECRET_MEMBER
      - --cookie-secure=false
      - --set-xauthrequest=true
      - --pass-access-token=true
      - --pass-user-headers=true
      - --pass-authorization-header=true
      - --email-domain=*
      - --http-address=0.0.0.0:4180
      - --logging-filename=/dev/stdout
      - --oidc-issuer-url=https://auth.$DOMAIN_NAME/realms/netboot
      - --provider=keycloak-oidc
      - --request-logging=true
      - --reverse-proxy=true
      - --scope=openid profile email offline_access
      - --standard-logging=true
      - --whitelist-domain=*.$DOMAIN_NAME
      - --skip-provider-button=true
      - --upstream=static://202
      - --proxy-prefix=/oauth2/member
      - --session-store-type=redis
      - --redis-connection-url=redis://redis:6379/1
      - --footer=-
      - --insecure-oidc-allow-unverified-email=true
      - --show-debug-on-error=true
      - --custom-templates-dir=/templates
    deploy:
      !!merge <<: *common-deploy
      labels:
        # Autoheal 
        - "autoheal=true"
        # Traefik
        - "traefik.enable=true"
        - "traefik.http.middlewares.auth-member.forwardauth.address=http://auth-member:4180"
        - "traefik.http.middlewares.auth-member.forwardauth.authResponseHeaders=X-Forwarded-User"
        - "traefik.http.routers.auth-member.entrypoints=https"
        - "traefik.http.routers.auth-member.rule=HostRegexp(`^.+$$`) && PathPrefix(`/oauth2/member`)"
        - "traefik.http.services.auth-member.loadbalancer.server.port=4180"
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/oauth2-proxy:v7.13.0-alpine@sha256:ea02c644f942514e41e8bc78e384efb29cf8a73696c0df8f814ae1f0354f8c51
    networks:
      - public
      - backend
    read_only: true
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"

  auth-manager:
    cap_drop:
      - "ALL"
    command:
      - --client-id=$OAUTH2_PROXY_CLIENT_ID
      - --client-secret=$OAUTH2_PROXY_CLIENT_SECRET
      - --cookie-domain=$DOMAIN_NAME
      - --cookie-expire=168h
      - --cookie-httponly=true
      - --cookie-name=oauth_manager
      - --cookie-refresh=10m
      - --cookie-secret=$OAUTH2_PROXY_COOKIE_SECRET_ADMIN
      - --cookie-secure=false
      - --set-xauthrequest=true
      - --pass-access-token=true
      - --pass-user-headers=true
      - --pass-authorization-header=true
      - --email-domain=*
      - --http-address=0.0.0.0:4180
      - --logging-filename=/dev/stdout
      - --oidc-issuer-url=https://auth.$DOMAIN_NAME/realms/netboot
      - --provider=keycloak-oidc
      - --request-logging=true
      - --reverse-proxy=true
      - --scope=openid profile email offline_access
      - --standard-logging=true
      - --whitelist-domain=*.$DOMAIN_NAME
      - --skip-provider-button=true
      - --upstream=static://202
      - --proxy-prefix=/oauth2/manager
      - --session-store-type=redis
      - --redis-connection-url=redis://redis:6379/3
      - --allowed-role=generic-oauth-oauth:generic-manager
      - --footer=-
      - --insecure-oidc-allow-unverified-email=true
      - --show-debug-on-error=true
      - --custom-templates-dir=/templates
    deploy:
      !!merge <<: *common-deploy
      labels:
        # Autoheal 
        - "autoheal=true"
        # Traefik
        - "traefik.enable=true"
        - "traefik.http.middlewares.auth-manager.forwardauth.address=http://auth-manager:4180"
        - "traefik.http.middlewares.auth-manager.forwardauth.authResponseHeaders=X-Forwarded-User"
        - "traefik.http.routers.auth-manager.entrypoints=https"
        - "traefik.http.routers.auth-manager.rule=HostRegexp(`^.+$$`) && PathPrefix(`/oauth2/manager`)"
        - "traefik.http.services.auth-manager.loadbalancer.server.port=4180"
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/oauth2-proxy:v7.13.0-alpine@sha256:ea02c644f942514e41e8bc78e384efb29cf8a73696c0df8f814ae1f0354f8c51
    networks:
      - public
      - backend
    read_only: true
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"

  auth-admin:
    cap_drop:
      - "ALL"
    command:
      - --client-id=$OAUTH2_PROXY_CLIENT_ID
      - --client-secret=$OAUTH2_PROXY_CLIENT_SECRET
      - --cookie-domain=$DOMAIN_NAME
      - --cookie-expire=168h
      - --cookie-httponly=true
      - --cookie-name=oauth_admin
      - --cookie-refresh=10m
      - --cookie-secret=$OAUTH2_PROXY_COOKIE_SECRET_ADMIN
      - --cookie-secure=false
      - --set-xauthrequest=true
      - --pass-access-token=true
      - --pass-user-headers=true
      - --pass-authorization-header=true
      - --email-domain=*
      - --http-address=0.0.0.0:4180
      - --logging-filename=/dev/stdout
      - --oidc-issuer-url=https://auth.$DOMAIN_NAME/realms/netboot
      - --provider=keycloak-oidc
      - --request-logging=true
      - --reverse-proxy=true
      - --scope=openid profile email offline_access
      - --standard-logging=true
      - --whitelist-domain=*.$DOMAIN_NAME
      - --skip-provider-button=true
      - --upstream=static://202
      - --proxy-prefix=/oauth2/admin
      - --session-store-type=redis
      - --redis-connection-url=redis://redis:6379/2
      - --allowed-role=generic-oauth:generic-admin
      - --footer=-
      - --insecure-oidc-allow-unverified-email=true
      - --show-debug-on-error=true
      - --custom-templates-dir=/templates
    deploy:
      !!merge <<: *common-deploy
      labels:
        # Autoheal 
        - "autoheal=true"
        # Traefik
        - "traefik.enable=true"
        - "traefik.http.middlewares.auth-admin.forwardauth.address=http://auth-admin:4180"
        - "traefik.http.middlewares.auth-admin.forwardauth.authResponseHeaders=X-Forwarded-User"
        - "traefik.http.routers.auth-admin.entrypoints=https"
        - "traefik.http.routers.auth-admin.rule=HostRegexp(`^.+$$`) && PathPrefix(`/oauth2/admin`)"
        - "traefik.http.services.auth-admin.loadbalancer.server.port=4180"
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/oauth2-proxy:v7.13.0-alpine@sha256:ea02c644f942514e41e8bc78e384efb29cf8a73696c0df8f814ae1f0354f8c51
    networks:
      - public
      - backend
    read_only: true
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"