x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s

networks:
  backend: {}
  public:
    external: true

services:
  authentik:
    image: ghcr.io/goauthentik/server:2025.10.2@sha256:8322e449feefcc2416f0401038d5a1a28552c4403b079a59d3b4d978d8f3f530
    command: server
    user: "1000:1000"
    networks:
      - public
      - backend
    environment:
      <<: *common-env
      AUTHENTIK_REDIS__HOST: authentik-redis
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: authentik
      AUTHENTIK_BOOTSTRAP_EMAIL: $ADMIN_EMAIL
      AUTHENTIK_BOOTSTRAP_PASSWORD: $SUDO_PASSWORD
      AUTHENTIK_SECRET_KEY: $AUTHENTIK_SECRET_KEY
      AUTHENTIK_BOOTSTRAP_TOKEN: $AUTHENTIK_TOKEN
    volumes:
      - $STORAGE_PATH/core/authentik/media:/media
      - $STORAGE_PATH/core/authentik/templates:/templates
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'python3 -c ''import socket; s=socket.socket(); s.settimeout(5); s.connect(("127.0.0.1", 9000)); s.close()'' || exit 1',
        ]
      interval: 30s
      retries: 10
      timeout: 10s
    deploy:
      <<: *common-deploy
      labels:
        # Allow traefik to process this container
        - "traefik.enable=true"
        - "traefik.swarm.lbswarm=true"
        - "traefik.http.routers.authentik.rule=Host(`auth.$DOMAIN_NAME`)"
        - "traefik.http.routers.authentik.entrypoints=https"
        - "traefik.http.services.authentik.loadbalancer.server.port=9000"
        - "traefik.http.middlewares.auth.forwardauth.address=http://authentik:9000/outpost.goauthentik.io/auth/traefik"
        - "traefik.http.middlewares.auth.forwardauth.trustForwardHeader=true"
        - "traefik.http.middlewares.auth.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version"
        # Homepage 
        - "homepage.group=Web Services"
        - "homepage.name=authentik"
        - "homepage.icon=authentik.png"
        - "homepage.href=https://auth.$DOMAIN_NAME"
        - "homepage.key=$AUTHENTIK_TOKEN"
        - "homepage.description=The authentication glue you need."

  authentik-worker:
    image: ghcr.io/goauthentik/server:2025.10.2@sha256:8322e449feefcc2416f0401038d5a1a28552c4403b079a59d3b4d978d8f3f530
    command: worker
    user: "1000:1000"
    environment:
      <<: *common-env
      AUTHENTIK_REDIS__HOST: authentik-redis
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgresql
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: authentik
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_BOOTSTRAP_EMAIL: $ADMIN_EMAIL
      AUTHENTIK_BOOTSTRAP_PASSWORD: $SUDO_PASSWORD
      AUTHENTIK_SECRET_KEY: $AUTHENTIK_SECRET_KEY
      AUTHENTIK_BOOTSTRAP_TOKEN: $AUTHENTIK_TOKEN
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $STORAGE_PATH/core/authentik/media:/media
      - $STORAGE_PATH/core/authentik/certs:/certs
      - $STORAGE_PATH/core/authentik/templates:/templates
    networks:
      - backend
    deploy:
      <<: *common-deploy

  authentik-postgresql:
    image: docker.io/library/postgres:16-alpine@sha256:79c06d285ed9186efbbc45c73413b3c3510c3c94ffede2f25d1e523f74d07f28
    user: "1000:1000"
    environment:
      <<: *common-env
      POSTGRES_DB: authentik
      POSTGRES_PASSWORD: authentik
      POSTGRES_USER: authentik
    volumes:
      - $STORAGE_PATH/core/authentik/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d authentik -U authentik"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    networks:
      - backend
    deploy:
      <<: *common-deploy

  authentik-redis:
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    user: "1000:1000"
    command: --save 60 1 --loglevel warning
    environment:
      <<: *common-env
    networks:
      - backend
    volumes:
      - $STORAGE_PATH/core/authentik/cache:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    deploy:
      <<: *common-deploy