x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s
x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

configs:
  acquis:
    external: true

networks:
  backend: {}
  public:
    external: true

services:
  crowdsec:
    configs:
      - source: acquis
        target: /etc/crowdsec/acquis.yaml
    deploy:
      !!merge <<: *common-deploy
    environment:
      !!merge <<: *common-env
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/http-dos"
      CUSTOM_HOSTNAME: crowdsec
    image: crowdsecurity/crowdsec:latest@sha256:4312a5109057f2a6b1237431abe638cd1026ecb3a9c2707c6ccc1ed09e4cb994
    networks:
      - backend
    user: "1000:1000"
    volumes:
      - $STORAGE_PATH/core/crowdsec/config:/etc/crowdsec/
      - $STORAGE_PATH/core/crowdsec/data:/var/lib/crowdsec/data/
      - $STORAGE_PATH/core/traefik/log:/var/log/traefik/:ro