x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s
x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

networks:
  backend: {}
  public:
    external: true

services:
  rclone:
    cap_drop:
      - "ALL"
    command:
      - rcd
      - --rc-web-gui
      - --rc-no-auth
      - --rc-addr=:5572
      - --log-level=INFO
      - --config=/config/rclone/rclone.conf
      - --cache-dir=/tmp/.cache/rclone
    deploy:
      !!merge <<: *common-deploy
      labels:
        # Allow traefik to process this container
        - "traefik.enable=true"
        - "traefik.swarm.lbswarm=true"
        - "traefik.http.routers.rclone.rule=Host(`rclone.$DOMAIN_NAME`)"
        - "traefik.http.routers.rclone.entrypoints=https"
        - "traefik.http.services.rclone.loadbalancer.server.port=5572"
        - "traefik.http.routers.rclone.middlewares=auth-admin"
        # Homepage 
        - "homepage.group=Media Management"
        - "homepage.name=Rclone"
        - "homepage.icon=rclone.png"
        - "homepage.href=https://rclone.$DOMAIN_NAME"
        - "homepage.description=A web interface for Rclone."
    environment:
      !!merge <<: *common-env
    image: rclone/rclone:1.72.0@sha256:0eb18825ac9732c21c11d654007170572bbd495352bb6dbb624f18e4f462c496
    networks:
      - public
    read_only: true
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"
    volumes:
      - $STORAGE_PATH:/docker:ro
      - $BACKUP_PATH:/backup
      - $STORAGE_PATH/core/rclone/config:/config/rclone
      - $STORAGE_PATH/core/rclone/logs:/logs
    tmpfs:
      - /tmp:rw,uid=1000,gid=1000