x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s
x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

networks:
  backend: {}
  public:
    external: true

services:
  traefik:
    command:
      - --global.checkNewVersion=false
      - --global.sendAnonymousUsage=false
      - --api.dashboard=true
      - --api.debug=true
      - --api.disableDashboardAd=true
      - --api.insecure=true
      - --entrypoints.http.address=:80
      - --entrypoints.http.http.redirections.entrypoint.to=https
      - --entrypoints.http.http.redirections.entrypoint.scheme=https
      - --entrypoints.http.http.redirections.entrypoint.permanent=true
      - --entrypoints.https.address=:443
      - --entrypoints.https.forwardedHeaders.trustedIPs=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16
      - --entrypoints.https.http.tls.certresolver=letsencrypt
      - --entrypoints.https.http.tls.domains[0].main=$DOMAIN_NAME
      - --entrypoints.https.http.tls.domains[0].sans=*.$DOMAIN_NAME
      - --log=true
      - --log.level=INFO # (Default: error) DEBUG, INFO, WARN, ERROR, FATAL, PANIC
      - --log.filepath=/var/log/traefik.log
      - --accesslog.filepath=/var/log/traefix-access.log
      - --providers.swarm=true
      - --providers.swarm.exposedByDefault=false
      - --providers.swarm.network=public
      - --providers.swarm.watch=true
      - --providers.swarm.allowemptyservices=true
      - --certificatesResolvers.letsencrypt.acme.caServer=https://acme-v02.api.letsencrypt.org/directory
      - --certificatesResolvers.letsencrypt.acme.storage=/certs/acme.json
      - --certificatesResolvers.letsencrypt.acme.dnsChallenge.provider=cloudflare
      - --certificatesResolvers.letsencrypt.acme.dnsChallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesResolvers.letsencrypt.acme.dnsChallenge.delayBeforeCheck=90
      - --experimental.plugins.sablier.moduleName=github.com/sablierapp/sablier-traefik-plugin
      - --experimental.plugins.sablier.version=v1.0.1
      - --experimental.plugins.crowdsec-bouncer.modulename=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      - --experimental.plugins.crowdsec-bouncer.version=v1.4.6
    deploy:
      !!merge <<: *common-deploy
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.traefik.service=api@internal"
        - "traefik.http.routers.traefik.rule=Host(`traefik.$DOMAIN_NAME`)"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"
        - "traefik.http.routers.traefik.middlewares=auth-admin"
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M
    environment:
      !!merge <<: *common-env
      CF_DNS_API_TOKEN: $CF_DNS_API_TOKEN
    image: traefik:v3.6.2@sha256:aaf0f6185419a50c74651448c1a5bf4606bd2d2ddb7b8749eed505d55bf8b8ea
    networks:
      - public
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    user: "1000:1000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - $STORAGE_PATH/core/traefik/certs/:/certs
      - $STORAGE_PATH/core/traefik/log:/var/log/
      - $STORAGE_PATH/core/traefik/plugins-storage:/plugins-storage

  nginx_error:
    deploy:
      !!merge <<: [*common-deploy]
      labels:
        # Allow traefik to process this container
        traefik.enable: "true"
        traefik.http.middlewares.error-pages-middleware.errors.query: "/{status}.html"
        traefik.http.middlewares.error-pages-middleware.errors.service: error-pages-service
        # Error-page middleware
        traefik.http.middlewares.error-pages-middleware.errors.status: 400-599
        traefik.http.routers.error-router.entrypoints: https
        traefik.http.routers.error-router.middlewares: error-pages-middleware@swarm
        traefik.http.routers.error-router.priority: 1
        # Catch-all router (matches all hosts)
        traefik.http.routers.error-router.rule: HostRegexp(`^.+$$`)
        # Backend service for error pages
        traefik.http.services.error-pages-service.loadbalancer.server.port: 8080
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/traefik-error-pages:v1.0.3@sha256:dad0fe35a448d8838828108e2864f969989e6921e73983f6e433e8cec870c278
    networks:
      - public
    read_only: true
    user: "1000:1000"
    tmpfs:
      - /tmp:rw,uid=1000,gid=1000